<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      p{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;"><%= title %></h1>
    <p>Welcome <%= title %></p>
  </body>
</html>
